.painel {
  background: #bcbcbc;
  color:  #000000;
}

.painel button  {
  background: #7b7b7b;
  font-size: 100%;
  letter-spacing: 0.1em;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid rgba(0,0,0,0.5);
}
.painel button:hover {
  color: #fff;
  border:  2px solid rgba(0,0,0,0);
}
