.actions{
  display: inline-block;
  padding: 5px;
  background-color: #bcbcbc;
  color: rgb(62, 62, 62);
  margin: 5px;
  column-count: 3;
  cursor: pointer;
}

.actions mat-card-title{
  display: flex;
  text-align: center;
  font-size: 1.5em;
  list-style-type: none;
  width: 80px;
}
